UI vesamenu.c32
MENU BACKGROUND /isolinux/splash.png
PROMPT 0
TIMEOUT 14
ONTIMEOUT local
menu color border	* #00000000 #00000000 none
menu tabmsg ENTER to boot or TAB to edit entries

LABEL linux
  MENU LABEL @RSp "777" (isolinux)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.gz boot=live splash quiet loglevel=0 systemd.show_status=auto rd.udev.log_level=0

LABEL linux
  MENU LABEL @RSp "777" (nomodeset)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.gz boot=live splash nomodeset quiet loglevel=0 systemd.show_status=auto rd.udev.log_level=0

LABEL linux
  MENU LABEL @RSp "777" (nvidia.modeset)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.gz boot=live splash nvidia-drm.modeset=1 quiet loglevel=0 systemd.show_status=auto rd.udev.log_level=0