[Desktop Entry]
Name=Apps Styles
Comment=Window Compositor Styles (kwin)
Exec=kcmshell6 --caption "Window Compositor Styles (kwin)" kcm_kwindecoration  
Type=Application
Icon=kwin
Categories=Settings;DesktopSettings;Qt;RSp;
OnlyShowIn=RSp;
