[Desktop Entry]
Exec=pkill rsp-leave; rsp-leave
Name=launch-leave
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
