[Desktop Entry]
Type=Application
Exec=rsp-config
Icon=preferences-system
Categories=Settings;DesktopSettings;Qt;RSp;
OnlyShowIn=RSp;

Name=RSp Configuration Center
GenericName=System Settings
Comment=Configure your system
Comment[ar]=اضبط نظامك
GenericName[ar]=إعدادات النّظام
Name[ar]=مركز لكسكيوت للضّبط
Name[bg]=Конфигурационен център RSp
GenericName[bg]=Системни настройки
Comment[bg]=Конфигуриране на системата
Name[ca]=Centre de configuració de RSp
GenericName[ca]=Ajusts del sistema
Comment[ca]=Configureu el vostre sistema
Comment[cs]=Nastavte si svůj systém
GenericName[cs]=Nastavení systému
Name[cs]=RSp centrum nastavení
Name[da]=RSp Indstillingscenter
GenericName[da]=Systemindstillinger
Comment[da]=Indstil dit system
Name[de]=Konfigurationszentrum
GenericName[de]=Systemeinstellungen
Comment[de]=Konfiguration von RSp- und Systemkomponenten
Name[el]=Κέντρο διαμόρφωσης RSp
GenericName[el]=Ρυθμίσεις συστήματος
Comment[el]=Διαμόρφωση του συστήματος
Name[en_GB]=RSp Configuration Centre
GenericName[en_GB]=System Settings
Comment[en_GB]=Configure your system
Comment[eo]=Agordi modulojn de RSp
GenericName[eo]=Agordilo de RSp
Name[eo]=Agordcentro de RSp
Name[es]=Centro de configuración de RSp
GenericName[es]=Configuración del sistema
Comment[es]=Configure su sistema
Comment[es_VE]=Configurar modulos de RSp
GenericName[es_VE]=Configuracion de RSp
Name[es_VE]=Centro de Configuracion RSp
Name[et]=RSp seadistuste haldus
GenericName[et]=RSp seadistused
Comment[et]=Seadista RSp töölauakeskkonda
Comment[eu]=Konfiguratu RSp moduluak
GenericName[eu]=RSp konfigurazioa
Name[eu]=RSp konfigurazio-zentroa
Comment[fi]=Hallitse järjestelmää
GenericName[fi]=Järjestelmän asetukset
Name[fi]=RSp:n hallintakeskus
Comment[fr]=Configurer les modules de RSp
GenericName[fr]=Configuration de RSp
Name[fr]=Centre de configuration de RSp
Name[gl]=Centro de configuración do RSp
GenericName[gl]=Configuración do sistema
Comment[gl]=Configure o seu sistema
Name[he]=מרכז ההגדרות של RSp
GenericName[he]=הגדרות המערכת
Comment[he]=הגדרת המערכת שלך
Comment[hr]=Konfiguriraj sustav
GenericName[hr]=Postavke sustava
Name[hr]=Centar RSp konfiguracija
Comment[hu]=A rendszer beállítása
GenericName[hu]=Rendszerbeállítások
Name[hu]=RSp beállítóközpont
Comment[id_ID]=Konfigurasi modul RSp
GenericName[id_ID]=Konfigurasi RSp
Name[id_ID]=Pusat Konfigurasi RSp
Name[it]=Centro di configurazione RSp
GenericName[it]=Configurazione del Ambiente Desktop RSp
Comment[it]=Configura moduli di RSp
Name[ja]=RSp コンフィグレーションセンター
GenericName[ja]=システムの設定
Comment[ja]=システムを設定します
Name[kk]=RSp баптаулар орталығы
GenericName[kk]=Жүйелік баптаулар
Comment[kk]=Жүйеңізді баптау
Name[ko]=RSp 구성 센터
GenericName[ko]=시스템 설정
Comment[ko]=사용자 시스템 구성하기
Name[lg]=Entabiro y'enteekateeka eza RSp
GenericName[lg]=Enteekateeka za sisitemu
Comment[lg]=Teekateeka sisitemu yo
Name[lt]=RSp konfigūravimo centras
GenericName[lt]=Sistemos nustatymai
Comment[lt]=Konfigūruoti savo sistemą
Name[nb_NO]=RSp-oppsettssenter
GenericName[nb_NO]=Systeminnstillinger
Comment[nb_NO]=Sett opp systemet ditt
Comment[nl]=Stel uw systeem in
GenericName[nl]=Systeeminstellingen
Name[nl]=RSp-instellingencentrum
Name[oc]=Centre de configuracion de RSp
GenericName[oc]=Configuracion sistèma
Comment[oc]=Configurar los moduls RSp
Name[pa]=RSp ਸੰਰਚਨਾ ਸੈਂਟਰ
GenericName[pa]=ਸਿਸਟਮ ਸੈਟਿੰਗਾਂ
Comment[pa]=ਤੁਹਾਡੇ ਸਿਸਟਮ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Wszystkie ustawienia RSp
GenericName[pl]=Konfiguracja RSp
Name[pl]=Panel sterowania RSp
Comment[pt]=Configurar módulos do RSp
GenericName[pt]=Configuração do RSp
Name[pt]=Centro de configuração RSp
Comment[pt_BR]=Configurar seu sistema
GenericName[pt_BR]=Configurações do Sistema
Name[pt_BR]=Central de Configurações RSp
Comment[ro_RO]=Configurează modulele RSp
GenericName[ro_RO]=Configurație RSp
Name[ro_RO]=Centru de configurare RSp
Comment[ru]=Настроить вашу систему
GenericName[ru]=Системные настройки
Name[ru]=Центр настройки RSp
Comment[sk]=Centrum nastavení prostredia RSp
GenericName[sk]=Centrum nastavení
Name[sk]=Centrum nastavení
Comment[sl]=Nastavitveni moduli za RSp
GenericName[sl]=Nastavitve
Name[sl]=Nastavitveno središče za RSp
Comment[sr]=Подесите Рејзорове модуле
GenericName[sr]=Подешавање Рејзора
Name[sr]=Центар за подешавање
Name[sr@ijekavian]=Центар за подешавање
Comment[sr@ijekavian]=Подесите Рејзорове модуле
GenericName[sr@ijekavian]=Подешавање Рејзора
Name[sr@ijekavianlatin]=Centar za podešavanje
Comment[sr@ijekavianlatin]=Podesite Rejzorove module
GenericName[sr@ijekavianlatin]=Podešavanje Rejzora
Comment[sr@latin]=Podesite Rejzorove module
GenericName[sr@latin]=Podešavanje Rejzora
Name[sr@latin]=Centar za podešavanje
Comment[th_TH]=ปรับแต่งมอดูล RSp
GenericName[th_TH]=ปรับแต่ง RSp
Name[th_TH]=ศูนย์การปรับแต่ง RSp
Comment[tr]=RSp modüllerini yapılandır
GenericName[tr]=RSp Yapılandırması
Name[tr]=RSp Yapılandırma Merkezi
Comment[uk]=Налаштувати модулі RSp
GenericName[uk]=Налаштування системи
Name[uk]=Центр налаштувань RSp
Name[vi]=Trung tâm Tinh chỉnh RSp
GenericName[vi]=Cài đặt Hệ thống
Comment[vi]=Tinh chỉnh hệ thống của bạn
Comment[zh_CN]=配置 RSp 模块
GenericName[zh_CN]=RSp 配置
Name[zh_CN]=RSp 配置中心
Comment[zh_TW]=設定RSp模組
GenericName[zh_TW]=RSp設定
Name[zh_TW]=RSp設定中心
